body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    margin-bottom: 20px;
}

header {
    background-color:#333;
    padding:12px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 30%;
    float: right;
    background-color: transparent;
}

nav ul {
    list-style-type:none;
    margin-left: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li a {
    display: block;
    color: white;
    text-align:center;
    padding: 16px 20px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 40px;
    transition: background-color 0.3s color 0.3s;
}


nav li a:hover {
    background-color: #add;
    color:black;
}
 
@media only screen and (max-width: 768px) {
    nav {
        width: 100%;
        float: none;
    }

    nav ul {
        display: none;
        transition: display 0.3s ease-in-out; /*Add smooth transition effect */
    }

    nav.show ul {
        display: block;
    }

    nav li {
        float:none;
        text-align: center;
    }

    nav li a {
        display: block;
        padding: 14px 16px;
    }

}
.background-section {
    flex: 1;
    position: relative;
    background-size:cover;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    margin: 0;
}
.background-section h2 {
    padding: 10px;
    color: #333;
    margin: 0;
    text-align: left;
    font-family: fantasy;
}
.background-section img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.ladiesPerfume-Button { /*The scrrollToSection btn*/
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF69B4;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ladiesPerfume-Button:hover {
    background-color: #add;
    color: black;
}

.gentsPerfume-Button { /*The scrrollToSection btn*/
    background-color: #0000FF;
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF69B4;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.gentsPerfume-Button:hover {
    background-color: #add;
    color: black;
}

.items-section {
    display: flex;
    flex-wrap:wrap;
    margin: 20px auto;
}

.Category {
    width: 100%; /* Adjuct the width to create a grid of 2/2*/
    margin-bottom: 30px;
}


.Category h3 {
    padding: 10px;
    border:#ccc;
    color: #333;
    margin: 0;
    text-align: center;
    font-family: fantasy;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px; /*Adjust the margin between items */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px; /* set a fixed height for all grid items */
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensure all images maintain aspect ratio and cover the container */
}

.grid-item .image-description {
    font-size: 16px;
    color: #555;
    padding: 10px;
}

.grid-item .image-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-top: 8px;
    padding: 10px;
}
@media (max-width: 768px) {
    .category {
        width: calc(50% - 20px); /*half width for larger screens*/
    }

    .item {
        width: calc(33.33% - 20px); /*Three items per row for larger screens*/
    }
}
#contactFormSection {
    padding: 50px;
    text-align: center;
}

.nav-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 40px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
    background-color: #add;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: black;
}

#contactForm {
    display: block;
    max-width: 500px;
    margin: 20px auto 0; /*Adjust margin to reduce space from the top */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #add;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#contactForm label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px solid #add;
}

#contactForm textarea {
    resize: vertical;
}

#contactForm input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
    border-radius: 40px;
    transition: background-color 0.3s;
}

#contactForm input[type="submit"]:hover {
    background-color: #add;
    color: black;
}


.input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.input[type="submit"]:hover {
    background-color: #add;
    color: black;
}

#scrollParagraph{
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s, color 0.3s;
}

#scrollParagraph:hover {
    background-color: #add;
    color: black;
}

#ParagraphSection {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #add;
}

#ParagraphSection h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#ParagraphSection p {
    color:#555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
#customer-reviews {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

#customer-reviews h3 {
    padding: 10px;
    border:#ccc;
    color: #333;
    margin: 0;
    text-align: center;
    font-family: fantasy;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 93%;
}

#reviews-container {
    max-width: 900px;
    margin: 20px auto;
}

.review {
    background-color: #f9f9f9;
    border: 1px solid #add;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 40px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(o, 0, 0, 0.3);
}

.review p {
    margin: 0;
}

.review-author {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

#add-review-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #add;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
}

#add-review-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 40px;
}

#add-review-form button:hover {
    background-color: #add;
    color: black;
}

#add-review-form textarea {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #add;
    border-radius: 4px;
}

.star-rating {
    display: flex;
    margin-bottom: 15px;
}

.star {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
}

.star:hover,
.star.active {
    color: #ffcc00;
}

footer {
    background-color:#333;
    color: #fff;
    padding: 10px; 
    text-align: center;
}




